*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #181719;
  color: white;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 22px 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  padding: 8px;
  border: 1px solid white;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  line-height: 15.56px;
  cursor: pointer;
}

.header .nav-toggle {
  font-size: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav-large {
  display: none;
}

.hide {
  display: none !important;
}

.show-inline {
  display: inline;
}

.container {
  margin-top: 30px;
}

.container .img-main {
  max-width: 100%;
  border-radius: 2px;
}

.main {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main h1 {
  font-family: Lora, serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}

.main p,
.main a {
  font-family: Montserrat;
}

.main p {
  margin-top: 25px;
  font: 400 14px/17px Montserrat, "sans-serif";
  width: 70%;
}

.main a {
  display: inline-block;
  margin-top: 25px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}

.main a:visited {
  color: white;
}

.card {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-40%) translateX(5%);
          transform: translateY(-40%) translateX(5%);
  background: #181719;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.card .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .avatar {
  height: 36px;
  border-radius: 50%;
}

.card .details {
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.card .details .name {
  font-size: 12px;
}

.card .details .designation {
  font-size: 10px;
  color: #828282;
}

.card .card-body {
  padding: 10px 0;
  font: 700 18px/23px Lora, serif;
}

.mobile-nav {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #181719;
  opacity: 99.5%;
  height: 100%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font: 700 18px/22px Montserrat, sans-serif;
}

.mobile-nav nav li {
  padding: 8px;
}

.mobile-nav nav li + li {
  margin-top: 24px;
}

.mobile-nav nav li:nth-of-type(1) {
  border-bottom: 2px solid white;
}

.mobile-nav .cross {
  position: absolute;
  top: 24px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #bdbdbd;
}

.footer .creator-name {
  font-weight: 700;
}

.lock-scroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    max-width: 410px;
    -webkit-transform: translateY(-40%) translateX(10%);
            transform: translateY(-40%) translateX(10%);
  }
  .container-text {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 8%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .container-text h1 {
    font-size: 48px;
    line-height: 61.4px;
  }
  .container-text p {
    font-size: 24px;
    line-height: 30px;
  }
  .container-text a {
    font-size: 18px;
  }
  .main {
    margin-top: 125px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header {
    margin-top: 18px;
  }
  .wrapper {
    width: 90%;
  }
  .container {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-top: 0;
  }
  .nav-large {
    display: block;
  }
  .nav-large ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font: 500 18px/22px Montserrat, sans-serif;
  }
  .nav-large ul li {
    cursor: pointer;
  }
  .nav-large ul li + li {
    margin-left: 50px;
    padding-bottom: 8px;
  }
  .nav-large ul li:nth-of-type(1) {
    font-weight: 700;
    border-bottom: 2px solid white;
  }
  .nav-toggle {
    display: none;
  }
  .footer {
    margin-top: 100px;
  }
}
