@import "./reset";
@import "./variables";

body {
  background: $background-color;

  color: $font-color;
}

.wrapper {
 
  margin : 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 22px 12px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    padding: 8px;
    border: 1px solid white;
    font-family: "Crimson Pro", serif;
    font-size: 14px;
    line-height: 15.56px;
  }

  .nav-toggle {
    font-size: 25px;
    align-self: flex-end;
  }
}

.hide {
  display: none !important;
}

.show-inline{
  display: inline;
}


.container {
  .img-main{
    max-width: 100%;
    border-radius: 2px;
  }
}

.main{
  h1{
    margin-top : 35px;
    font-family : Lora, serif;
    font-size : 36px;
    line-height: 46px;
    font-weight : 500;
  }
  p,a{
    font-family: Montserrat;
  }

  p{
    margin-top : 25px;
    font : 400 14px/17px Montserrat, 'sans-serif';
    width: 70%;
  }

  a{
    display: inline-block;
    margin-top: 25px;
    font-size :14px;
    text-decoration: none;
    font-weight: 700;

  }

  a:visited{
    color: white;
  }
 
}

.container{
  margin-top : 30px;
}

.card{
 
  padding : 20px;
  width : 80%;
  margin : 0 auto;
  position: relative;
  transform: translateY(-40%) translateX(5%); 
  background: $background-color;
  box-shadow: 0px 4px 4px 0px #00000040;

  .card-head{
    display : flex;
    align-items: center;
  }

  .avatar{
    height: 36px;
    border-radius: 50%;
    
  }

  .details{
   margin-left : 10px;
   font-family: Montserrat, sans-serif;
   font-weight: 500;

   .name{
     font-size: 12px;
   }

   .designation{
     font-size: 10px;
     color : #828282;
   }
  }

  .card-body{
    padding: 10px 0;
    font : 700 18px/23px Lora,serif;
  }
}

.mobile-nav{
  transition: 0.5s;
  top: 0;
  bottom: 0;
  position : absolute;
  background: #181719;
  opacity: 99.5%;
  height:100%;
  left:0;
  right:0;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav{
    ul{
      display : flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      font : 700 18px/22px Montserrat,sans-serif;

    }
    li{
      padding: 8px;
    }

    li + li {
      margin-top: 24px;;
    }
    li:nth-of-type(1){
      border-bottom: 2px solid white;
      
    }
  }

  .cross{
    position: absolute;
    top : 24px;
    right:10px;
    font-size: 30px;
    cursor: pointer;
  }
}


.footer {

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;

  text-align: center;
  color: #bdbdbd;
}

.footer .creator-name {
  font-weight: 700;
}

.lock-scroll{
  overflow: hidden;
}